<%- include('header') %>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <%itensList.forEach(itemList => {%>
  <form action="/delete" method="post">
    <input type="hidden" name="listTitle" value="<%= listTitle %>" />
    <div class="item">
      <input
        type="checkbox"
        name="itemList"
        value="<%= itemList %>"
        onChange="this.form.submit()"
      />
      <p><%= itemList %></p>
    </div>
  </form>

  <%});%>
</div>

<form class="submitBox" action="/" method="post">
  <input
    type="text"
    name="newItem"
    placeholder="New Item"
    autocomplete="off"
    autocapitalize="on"
  />
  <button type="submit" name="button" value="<%= listTitle %>">+</button>
</form>

<%- include('footer') %>
